openapi: "3.0.0"
info:
  description: "DIP Bundestag API"
  version: "1.0.0"
  title: "Bundestag: Dokumentations- und Informationssystem für Parlamentsmaterialien"
  contact: 
    name: "bund.dev"
    email: "kontakt@bund.dev"
    url:  "https://bund.dev"

servers:
  - url: "https://search.dip.bundestag.de/api/v1"

paths:
  /aktivitaet:
    get:
      summary: Liste aller Aktivitäten
      description: Liste aller Aktivitäten
      operationId: aktivitaet
      tags:
        - aktivitaet
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  type: object
                example:
                  numFound: 1559455
                  documents:
                    - id: '1581184'
                      aktivitaetsart: Kleine Anfrage
                      typ: Aktivität
                      vorgangsbezug_anzahl: 1
                      dokumentart: Drucksache
                      wahlperiode: 20
                      datum: '2021-11-02'
                      titel: Zaklin Nastic, MdB, DIE LINKE
                      fundstelle:
                        pdf_url: https://dserver.bundestag.de/btd/20/000/2000007.pdf
                        id: '258207'
                        dokumentnummer: 20/7
                        datum: '2021-11-02'
                        dokumentart: Drucksache
                        drucksachetyp: Kleine Anfrage
                        herausgeber: BT
                        urheber:
                          - Fraktion DIE LINKE
                      vorgangsbezug:
                        - vorgangsposition: Kleine Anfrage
                          vorgangstyp: Kleine Anfrage
                          titel: Politisch motivierte Kriminalität rechts im September 2021
                          id: '282601'
                    - id: '1581183'
                      aktivitaetsart: Kleine Anfrage
                      typ: Aktivität
                      vorgangsbezug_anzahl: 1
                      dokumentart: Drucksache
                      wahlperiode: 20
                      datum: '2021-11-02'
                      titel: Cornelia Möhring, MdB, DIE LINKE
                      fundstelle:
                        pdf_url: https://dserver.bundestag.de/btd/20/000/2000007.pdf
                        id: '258207'
                        dokumentnummer: 20/7
                        datum: '2021-11-02'
                        dokumentart: Drucksache
                        drucksachetyp: Kleine Anfrage
                        herausgeber: BT
                        urheber:
                          - Fraktion DIE LINKE
                      vorgangsbezug:
                        - vorgangsposition: Kleine Anfrage
                          vorgangstyp: Kleine Anfrage
                          titel: Politisch motivierte Kriminalität rechts im September 2021
                          id: '282601'
                  cursor: AoJwwPLPwPwCMkFrdGl2aXRhZXQtMTU4MTE1Mg==
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /aktivitaet/{id}:
    get:
      summary: Metadaten zu Aktivität
      description: Metadaten zu Aktivität
      operationId: aktivitaetId
      tags:
        - aktivitaet
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            example: 908
          required: true
          description: ID der Aktivität
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                id: '908'
                aktivitaetsart: Antrag
                typ: Aktivität
                vorgangsbezug_anzahl: 1
                dokumentart: Drucksache
                wahlperiode: 16
                datum: '2005-12-14'
                titel: Harald Leibrecht, MdB, FDP
                fundstelle:
                  pdf_url: https://dserver.bundestag.de/btd/16/002/1600225.pdf
                  id: '312'
                  dokumentnummer: 16/225
                  datum: '2005-12-14'
                  dokumentart: Drucksache
                  drucksachetyp: Antrag
                  herausgeber: BT
                  urheber:
                    - Fraktion der FDP
                vorgangsbezug:
                  - vorgangsposition: Antrag
                    vorgangstyp: Antrag
                    titel: 'Menschenrechte in Usbekistan einfordern (G-SIG: 16010078)'
                    id: '6286'
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /drucksache:
    get:
      summary: Liste aller Drucksachen
      description: Liste aller Drucksachen
      operationId: drucksache
      tags:
        - drucksache      
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                numFound: 256903
                documents:
                  - id: '258210'
                    drucksachetyp: Verordnung
                    dokumentart: Drucksache
                    autoren_anzahl: 0
                    typ: Dokument
                    vorgangsbezug_anzahl: 1
                    dokumentnummer: 20/8
                    wahlperiode: 20
                    herausgeber: BT
                    datum: '2021-11-03'
                    titel: Verordnung zur Festsetzung des ergänzenden Bundeszuschusses nach § 221a Absatz
                      3 Satz 3 des Fünften Buches Sozialgesetzbuch für das Jahr 2022 (Bundeszuschussverordnung
                      2022)
                    fundstelle:
                      pdf_url: https://dserver.bundestag.de/btd/20/000/2000008.pdf
                      id: '258210'
                      dokumentnummer: 20/8
                      datum: '2021-11-03'
                      verteildatum: '2021-11-03'
                      dokumentart: Drucksache
                      drucksachetyp: Verordnung
                      herausgeber: BT
                      urheber:
                        - Bundesministerium für Gesundheit
                    urheber:
                      - einbringer: false
                        bezeichnung: BMG
                        titel: Bundesministerium für Gesundheit
                    vorgangsbezug:
                      - id: '282604'
                        titel: Verordnung zur Festsetzung des ergänzenden Bundeszuschusses nach § 221a Absatz
                          3 Satz 3 des Fünften Buches Sozialgesetzbuch für das Jahr 2022 (Bundeszuschussverordnung
                          2022)
                        vorgangstyp: Rechtsverordnung
                  - id: '258209'
                    drucksachetyp: Vorschlag
                    dokumentart: Drucksache
                    autoren_anzahl: 0
                    typ: Dokument
                    vorgangsbezug_anzahl: 1
                    dokumentnummer: 782/21
                    wahlperiode: 20
                    herausgeber: BR
                    datum: '2021-11-02'
                    titel: Benennung eines stellvertretenden Mitglieds für den Beirat der Bundesnetzagentur
                      für Elektrizität, Gas, Telekommunikation, Post und Eisenbahnen
                    fundstelle:
                      pdf_url: https://dserver.bundestag.de/brd/2021/0782-21.pdf
                      id: '258209'
                      dokumentnummer: 782/21
                      datum: '2021-11-02'
                      dokumentart: Drucksache
                      drucksachetyp: Vorschlag
                      herausgeber: BR
                      urheber: [ ]
                    vorgangsbezug:
                      - id: '282603'
                        titel: Benennung eines stellvertretenden Mitglieds für den Beirat der Bundesnetzagentur
                          für Elektrizität, Gas, Telekommunikation, Post und Eisenbahnen
                        vorgangstyp: Besetzung externer Gremien durch BR
                cursor: AoJwgOLMrvwCMURydWNrc2FjaGUtMjU4MDk3
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /drucksache/{id}:
    get:
      summary: Metadaten zu Drucksache
      description: Metadaten zu Drucksache
      operationId: drucksacheId
      tags:
        - drucksache
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            example: 908
          required: true
          description: ID der Drucksache
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                id: '908'
                drucksachetyp: Antrag
                dokumentart: Drucksache
                autoren_anzahl: 0
                typ: Dokument
                vorgangsbezug_anzahl: 2
                dokumentnummer: 15/5005
                wahlperiode: 15
                herausgeber: BT
                datum: '2005-03-03'
                titel: "Rechnung des Bundesrechnungshofes für das Haushaltsjahr 2004 \n- Einzelplan
                  20 -"
                fundstelle:
                  pdf_url: https://dserver.bundestag.de/btd/15/050/1505005.pdf
                  id: '908'
                  dokumentnummer: 15/5005
                  datum: '2005-03-03'
                  dokumentart: Drucksache
                  drucksachetyp: Antrag
                  herausgeber: BT
                  urheber:
                    - Präsident des Bundesrechnungshofes
                urheber:
                  - einbringer: false
                    bezeichnung: BRHPräs
                    titel: Präsident des Bundesrechnungshofes
                vorgangsbezug:
                  - id: '1563'
                    titel: 'Rechnung des Bundesrechnungshofes für das Haushaltsjahr 2004 - Einzelplan
                    20 - (G-SIG: 16000389)'
                    vorgangstyp: Entlastung des Bundesrechnungshofes
                  - id: '89305'
                    titel: 'Rechnung des Bundesrechnungshofes für das Haushaltsjahr 2004 - Einzelplan
                    20 - (G-SIG: 15001421)'
                    vorgangstyp: Entlastung des Bundesrechnungshofes

        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /drucksache-text:
    get:
      summary: Liste aller Volltexte der Drucksachen
      description: Liste aller Volltexte der Drucksachen
      operationId: drucksacheText
      tags:
        - drucksache      
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                numFound: 256903
                documents:
                  - id: '258210'
                    drucksachetyp: Verordnung
                    dokumentart: Drucksache
                    autoren_anzahl: 0
                    typ: Dokument
                    dokumentnummer: 20/8
                    wahlperiode: 20
                    herausgeber: BT
                    datum: '2021-11-03'
                    titel: Verordnung zur Festsetzung des ergänzenden Bundeszuschusses nach § 221a Absatz
                      3 Satz 3 des Fünften Buches Sozialgesetzbuch für das Jahr 2022 (Bundeszuschussverordnung
                      2022)
                    text: "Deutscher Bundestag Drucksache 20/8 \n20. Wahlperiode 03.11.2021 \nVerordnung
                      \ndes Bundesministeriums für Gesundheit \nVerordnung zur Festsetzung des ergänzenden
                      Bundeszuschusses nach  \n§ 221a Absatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch
                      für das Jahr 2022 \n(Bundeszuschussverordnung 2022) \nA. Problem und Ziel \nNach
                      Auswertung der Prognose des beim Bundesamt für Soziale Sicherung ge-\nbildeten Schätzerkreises
                      zu den Einnahmen und Ausgaben der gesetzlichen Kran-\nkenversicherung (GKV) in den
                      Jahren 2021 und 2022 ergibt sich insbesondere \ndurch die COVID-19-Pandemie in Verbindung
                      mit der dadurch ausgelösten Wirt-\nschaftskrise ein veränderter Finanzbedarf der
                      GKV für das Jahr 2022. Ohne zu-\nsätzliche Finanzmittel des Bundes für das Jahr
                      2022 wären erhebliche Zusatzbei-\ntragssatzsteigerungen zu Lasten der Beitragszahlerinnen
                      und Beitragszahler in der \nGKV zu erwarten. Zugleich wäre die deutsche Wirtschaft
                      mit höheren Lohnne-\nbenkosten konfrontiert, während sie mit den wirtschaftlichen
                      Folgen der Pande-\nmie belastet ist. Um eine Stabilität des durchschnittlichen Zusatzbeitrags
                      zu errei-\nchen, bedarf es zusätzlich zum Bundeszuschuss nach § 221 Absatz 1 des
                      Fünften \nBuches Sozialgesetzbuch einer abweichenden Festsetzung des ergänzenden
                      Bun-\ndeszuschusses an den Gesundheitsfonds einschließlich eines Anteils der landwirt-\nschaftlichen
                      Krankenversicherung. \nB. Lösung \nDer Gesetzgeber hat mit dem Gesundheitsversorgungsweiterentwicklungsgesetz
                      \nvom 11. Juli 2021 (BGBl. I S. 2754) in § 221a Absatz 3 Satz 1 des Fünften Buches
                      \nSozialgesetzbuch einen ergänzenden Bundeszuschuss für das Jahr 2022 in Höhe \nvon
                      7 Milliarden Euro festgelegt. Das Bundesministerium für Gesundheit wurde \ngemäß
                      § 221a Absatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch befristet bis \nzum 31.
                      Dezember 2021 ermächtigt, durch Rechtsverordnung im Einvernehmen \nmit dem Bundesministerium
                      der Finanzen und mit Zustimmung des Deutschen \nBundestages einen abweichenden ergänzenden
                      Bundeszuschuss festzusetzen, um \nden durchschnittlichen Zusatzbeitragssatz zur
                      gesetzlichen Krankenversicherung \nnach § 242a des Fünften Buches Sozialgesetzbuch
                      im Jahr 2022 bei 1,3 Prozent \nzu stabilisieren. Um dieses Ziel zu erreichen, bedarf
                      es eines ergänzenden Bun-\ndeszuschusses in Höhe von 14 Milliarden Euro anstatt
                      7 Milliarden Euro. Abwei-\nchend von § 221a Absatz 3 Satz 1 des Fünften Buches Sozialgesetzbuch
                      wird der \nergänzende Bundeszuschuss für das Jahr 2022 daher auf einen Betrag von
                      14 Mil-\nV\norabfassung - w\nird durch die lektorierte Fassung ersetzt. \nDrucksache
                      20/8 – 2 – Deutscher Bundestag – 20. Wahlperiode \n \n \nliarden Euro festgesetzt.
                      Der Anteil der landwirtschaftlichen Krankenversiche-\nrung an diesem Betrag ist
                      gemäß § 221a Absatz 3 Satz 4 zweiter Halbsatz des \nFünften Buches Sozialgesetzbuch
                      entsprechend dem Verhältnis des der landwirt-\nschaftlichen Krankenversicherung
                      nach § 221a Absatz 3 Satz 2 des Fünften Bu-\nches Sozialgesetzbuch vom Gesundheitsfonds
                      zu überweisenden Betrags zum er-\ngänzenden Bundeszuschuss nach § 221a Absatz 3
                      Satz 1 des Fünften Buches So-\nzialgesetzbuch auf 84 Millionen Euro festzusetzen.
                      \nDurch die Stabilisierung des durchschnittlichen Zusatzbeitrags zur GKV im Jahr
                      \n2022 leistet der Bund einen erheblichen Beitrag zur Begrenzung der Sozialversi-\ncherungsbeiträge
                      auf unter 40 Prozent und damit zur schnelleren Erholung der \ndeutschen Wirtschaft
                      nach der COVID-19-Pandemie. \nC. Alternativen \nKeine. \nD. Haushaltsausgaben ohne
                      Erfüllungsaufwand \nDem Bund entstehen im Jahr 2022 Mehrausgaben in Höhe von 7 Milliarden
                      Euro. \nDer gesetzlichen Krankenversicherung entstehen im Jahr 2022 Mehreinnahmen
                      \nvon 7 Milliarden Euro. \nE. Erfüllungsaufwand \nE.1 Erfüllungsaufwand für Bürgerinnen
                      und Bürger \nKeiner. \nE.2 Erfüllungsaufwand für die Wirtschaft \nKeiner. \nDavon
                      Bürokratiekosten aus Informationspflichten \nKeine. \nE.3 Erfüllungsaufwand der
                      Verwaltung \nKeiner. \nF. Weitere Kosten \nKeine.  \nV\norabfassung - w\nird durch
                      die lektorierte Fassung ersetzt. \nDeutscher Bundestag – 20. Wahlperiode – 3 – Drucksache
                      20/8 \n \nBUNDESREPUBLIK DEUTSCHLAND Berlin, 3. November 2021 \nDIE BUNDESKANZLERIN
                      \nAn die \nPräsidentin des  \nDeutschen Bundestages \nFrau Bärbel Bas \nPlatz der
                      Republik 1 \n11011 Berlin \nSehr geehrte Frau Präsidentin, \nhiermit übersende ich
                      die von der Bundesregierung beschlossene \nVerordnung zur Festsetzung des ergänzenden
                      Bundeszuschusses \nnach § 221a Absatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch
                      \nfür das Jahr 2022  \n(Bundeszuschussverordnung 2022) \nmit Begründung und Vorblatt
                      (Anlage). \nIch bitte, die Zustimmung des Deutschen Bundestages aufgrund des § 221a
                      \nAbsatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch herbeizuführen. \nFederführend
                      ist das Bundesministerium für Gesundheit. \nMit freundlichen Grüßen \nDr. Angela
                      Merkel \nV\norabfassung - w\nird durch die lektorierte Fassung ersetzt.\nDrucksache
                      20/8 – 4 – Deutscher Bundestag – 20. Wahlperiode \nVerordnung zur Festsetzung des
                      ergänzenden Bundeszuschusses nach \n§ 221a Absatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch
                      für das Jahr 2022\n(Bundeszuschussverordnung 2022) \nVom ... \nAuf Grund des § 221a
                      Absatz 3 Satz 3 und 4 des Fünften Buches Sozialgesetzbuch, der durch Artikel 1 \nNummer
                      52a Buchstabe b des Gesetzes vom 11. Juli 2021 (BGBl. I S. 2754) eingefügt worden
                      ist, verordnet das \nBundesministerium für Gesundheit im Einvernehmen mit dem Bundesministerium
                      der Finanzen unter Berück-\nsichtigung des Beschlusses des Bundestages vom … [einsetzen:
                      Datum des Beschlusses des Bundestages]: \n§ 1\nErgänzender Bundeszuschuss 2022 \nAbweichend
                      von § 221a Absatz 3 Satz 1 des Fünften Buches Sozialgesetzbuch wird ein ergänzender
                      Bun-\ndeszuschuss für das Jahr 2022 in Höhe von 14 Milliarden Euro festgesetzt.
                      Abweichend von § 221a Absatz 3 Satz \n2 des Fünften Buches Sozialgesetzbuch wird
                      der von dem Gesundheitsfonds an die landwirtschaftliche Kranken-\nversicherung zu
                      überweisende Betrag auf 84 Millionen Euro festgesetzt. \n§ 2\nInkrafttreten  \nDiese
                      Verordnung tritt am Tag nach der Verkündung in Kraft.  \nV\norabfassung - w\nird
                      durch die lektorierte Fassung ersetzt.\nDeutscher Bundestag – 20. Wahlperiode –
                      5 – Drucksache 20/8 \nBegründung \nA. Allgemeiner Teil \nI. Zielsetzung und Notwendigkeit
                      der Regelungen \nNach Auswertung der Prognose des beim Bundesamt für Soziale Sicherung
                      gebildeten Schätzerkreises zu den \nEinnahmen und Ausgaben der gesetzlichen Krankenversicherung
                      (GKV) in den Jahren 2021 und 2022 ergibt sich \ninsbesondere durch die COVID-19-Pandemie
                      in Verbindung mit der dadurch ausgelösten Wirtschaftskrise ein \nveränderter Finanzbedarf
                      der GKV für das Jahr 2022.Ohne zusätzliche Finanzmittel des Bundes für das Jahr
                      2022 \nwären erhebliche Zusatzbeitragssatzsteigerungen zu Lasten der Beitragszahlerinnen
                      und Beitragszahler in der \nGKV zu erwarten. Zugleich wäre die deutsche Wirtschaft
                      mit höheren Lohnnebenkosten konfrontiert, während \nsie mit den wirtschaftlichen
                      Folgen der Pandemie belastet ist. Um eine Stabilität des durchschnittlichen Zusatz-\nbeitrags
                      zu erreichen, bedarf es zusätzlich zum Bundeszuschuss nach § 221 Absatz 1 des Fünften
                      Buches Sozial-\ngesetzbuch einer abweichenden Festsetzung des ergänzenden Bundeszuschusses
                      an den Gesundheitsfonds ein-\nschließlich eines Anteils der landwirtschaftlichen
                      Krankenversicherung. \nDer Gesetzgeber hat mit dem Gesundheitsversorgungsweiterentwicklungsgesetz
                      vom 11. Juli 2021 (BGBl. I S. \n2754; im Folgenden GVWG) in § 221a Absatz 3 Satz
                      1 des Fünften Buches Sozialgesetzbuch einen ergänzenden \nBundeszuschuss für das
                      Jahr 2022 in Höhe von 7 Milliarden Euro festgelegt. Das Bundesministerium für Gesund-\nheit
                      wurde gemäß § 221a Absatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch befristet
                      bis zum 31. Dezember \n2021 ermächtigt, durch Rechtsverordnung im Einvernehmen mit
                      dem Bundesministerium der Finanzen und mit \nZustimmung des Deutschen Bundestages
                      einen abweichenden ergänzenden Bundeszuschuss festzusetzen,  \nDer Schätzerkreis
                      aus Finanzexperten des Bundesamts für Soziale Sicherung, des Bundesministeriums
                      für Ge-\nsundheit und des Spitzenverbands Bund der Krankenkassen hat am 13. Oktober
                      2021 die Einnahmen und die \nAusgaben der GKV für die Jahre 2021 und 2022 geschätzt.
                      Die Neufestsetzung des Bundeszuschusses ist erfor-\nderlich, weil sich nach Auswertung
                      der Prognosen des Schätzerkreises ein veränderter Finanzbedarf der GKV für \ndas
                      Jahr 2022 ergeben hat, um den durchschnittlichen Zusatzbeitragssatz zur GKV bei
                      1,3 Prozent zu stabilisieren. \nDer Anteil der landwirtschaftlichen Krankenversicherung
                      an diesem Betrag ist gemäß § 221a Absatz 3 Satz 4 \nzweiter Halbsatz des Fünften
                      Buches Sozialgesetzbuch entsprechend dem Verhältnis des der landwirtschaftlichen
                      \nKrankenversicherung nach § 221a Absatz 3 Satz 2 des Fünften Buches Sozialgesetzbuch
                      vom Gesundheitsfonds \nzu überweisenden Betrags zum ergänzenden Bundeszuschuss nach
                      § 221a Absatz 3 Satz 1 des Fünften Buches \nSozialgesetzbuch auf 84 Millionen Euro
                      festzusetzen. \nDurch die Stabilisierung des durchschnittlichen Zusatzbeitrages
                      zur GKV im Jahr 2022 leistet der Bund einen \nerheblichen Beitrag zur Begrenzung
                      der Sozialversicherungsbeiträge auf unter 40 Prozent und damit zur schnel-\nleren
                      Erholung der deutschen Wirtschaft nach der COVID-19-Pandemie. \nII. Wesentlicher
                      Inhalt\nMit der Verordnung wird die Höhe des ergänzenden Bundeszuschusses durch
                      das Bundesministerium für Ge-\nsundheit im Einvernehmen mit dem Bundesministerium
                      der Finanzen und mit Zustimmung des Deutschen Bun-\ndestages abweichend von § 221a
                      Absatz 3 Satz 1 des Fünften Buches Sozialgesetzbuch auf einen Betrag von 14 \nMilliarden
                      Euro festgesetzt. Gleichzeitig wird der Anteil der landwirtschaftlichen Krankenversicherung
                      am er-\ngänzenden Bundeszuschuss gemäß § 221a Absatz 3 Satz 4 zweiter Halbsatz des
                      Fünften Buches Sozialgesetzbuch \nauf 84 Millionen Euro angepasst. Durch den ergänzenden
                      Bundeszuschuss in Höhe von 14 Milliarden Euro wird \nsichergestellt, dass der durchschnittliche
                      Zusatzbeitragssatz zur GKV nach § 242a des Fünften Buches Sozialge-\nsetzbuch im
                      Jahr 2022 bei 1,3 Prozent stabilisiert wird. Zugleich sorgt der ergänzende Bundeszuschuss
                      für Bei-\ntragsstabilität in der landwirtschaftlichen Krankenversicherung.  \nV\norabfassung
                      - w\nird durch die lektorierte Fassung ersetzt.\nDrucksache 20/8 – 6 – Deutscher
                      Bundestag – 20. Wahlperiode \nIII. Alternativen\nKeine. \nIV. Regelungskompetenz\nDie
                      Regelungskompetenz ergibt sich aus § 221a Absatz 3 Satz 3 und 4 des Fünften Buches
                      Sozialgesetzbuch, der \ndurch Artikel 1 Nummer 52a Buchstabe b des Gesetzes vom
                      11. Juli 2021 (BGBl. I S. 2754) eingefügt worden \nist. \nV. Vereinbarkeit mit dem
                      Recht der Europäischen Union und völkerrechtlichen Verträgen \nDie Verordnung ist
                      mit dem Recht der Europäischen Union und den völkerrechtlichen Verträgen, die die
                      Bun-\ndesrepublik Deutschland abgeschlossen hat, vereinbar. \nVI. Regelungsfolgen\n1.
                      Rechts- und Verwaltungsvereinfachung\nKeine. \n2. Nachhaltigkeitsaspekte\nDie Verordnung
                      steht im Einklang mit dem Leitprinzip der Bundesregierung zur nachhaltigen Entwicklung
                      hin-\nsichtlich Gesundheit, Lebensqualität, sozialem Zusammenhalt und sozialer Verantwortung
                      und leistet einen wich-\ntigen Beitrag zur Abmilderung der wirtschaftlichen Folgen
                      der COVID-19-Pandemie. \n3. Haushaltsausgaben ohne Erfüllungsaufwand\nDem Bund entstehen
                      im Jahr 2022 Mehrausgaben in Höhe von 7 Milliarden Euro. \nDer GKV entstehen im
                      Jahr 2022 Mehreinnahmen von 7 Milliarden Euro. \n4. Erfüllungsaufwand\nErfüllungsaufwand
                      für Bürgerinnen und Bürger \nKeiner. \nErfüllungsaufwand für die Wirtschaft \nKeiner.
                      \nErfüllungsaufwand der Verwaltung \nKeiner. \n5. Weitere Kosten\nKeine. \n6. Weitere
                      Regelungsfolgen\nKeine. \nV\norabfassung - w\nird durch die lektorierte Fassung
                      ersetzt.\nDeutscher Bundestag – 20. Wahlperiode – 7 – Drucksache 20/8 \nB. Besonderer
                      Teil \nZu § 1 \nNach Auswertung der Prognose des Schätzerkreises zu den Einnahmen
                      und Ausgaben der GKV in den Jahren \n2021 und 2022 ergibt sich insbesondere durch
                      die COVID-19-Pandemie in Verbindung mit der dadurch ausge-\nlösten Wirtschaftskrise
                      ein veränderter Finanzbedarf der GKV für das Jahr 2022. Ohne zusätzliche Finanzmittel
                      \ndes Bundes für das Jahr 2022 wären erhebliche Zusatzbeitragssatzsteigerungen zu
                      Lasten der Beitragszahlerinnen \nund Beitragszahler in der GKV zu erwarten. Zugleich
                      wäre die deutsche Wirtschaft mit höheren Lohnnebenkosten \nkonfrontiert, während
                      sie mit den wirtschaftlichen Folgen der Pandemie belastet ist. Daher bedarf es zur
                      Stabili-\nsierung des durchschnittlichen Zusatzbeitrags zur GKV einer abweichenden
                      Festsetzung des ergänzenden Bun-\ndeszuschusses an den Gesundheitsfonds einschließlich
                      eines Anteils der landwirtschaftlichen Krankenversiche-\nrung. \nDurch die Regelung
                      in § 1 Satz 1 wird der ergänzende Bundeszuschuss abweichend von § 221a Absatz 3
                      Satz 1 \ndes Fünften Buches Sozialgesetzbuch für das Jahr 2022 auf einen Betrag
                      von 14 Milliarden Euro festgesetzt und \ndamit von der Verordnungsermächtigung nach
                      § 221a Absatz 3 Satz 3 des Fünften Buches Sozialgesetzbuch \nGebrauch gemacht. Der
                      neu festgesetzte Betrag tritt an die Stelle des zuvor mit dem GVWG in § 221a Absatz
                      3 \nSatz 1 des Fünften Buches Sozialgesetzbuch festgesetzten Betrags von 7 Milliarden
                      Euro. Die Anpassung auf \n14 Milliarden Euro ist erforderlich, um den durchschnittlichen
                      Zusatzbeitragssatz zur GKV bei 1,3 Prozent zu \nstabilisieren. Der Anteil der landwirtschaftlichen
                      Krankenversicherung an diesem Betrag ist gemäß § 221a Absatz \n3 Satz 4 zweiter
                      Halbsatz des Fünften Buches Sozialgesetzbuch entsprechend dem Verhältnis des der
                      landwirt-\nschaftlichen Krankenversicherung nach § 221a Absatz 3 Satz 2 des Fünften
                      Buches Sozialgesetzbuch vom Ge-\nsundheitsfonds zu überweisenden Betrags zum ergänzenden
                      Bundeszuschuss nach § 221a Absatz 3 Satz 1 des \nFünften Buches Sozialgesetzbuch
                      auf 84 Millionen Euro festzusetzen. \nDurch die Stabilisierung des durchschnittlichen
                      Zusatzbeitrags zur GKV im Jahr 2022 leistet der Bund einen \nerheblichen Beitrag
                      zur Begrenzung der Sozialversicherungsbeiträge auf unter 40 Prozent und damit zur
                      schnel-\nleren Erholung der deutschen Wirtschaft nach der COVID-19-Pandemie. \nZu
                      § 2 \nDie Verordnung tritt am Tag nach ihrer Verkündung in Kraft. \nV\norabfassung
                      - w\nird durch die lektorierte Fassung ersetzt."
                    fundstelle:
                      pdf_url: https://dserver.bundestag.de/btd/20/000/2000008.pdf
                      id: '258210'
                      dokumentnummer: 20/8
                      datum: '2021-11-03'
                      verteildatum: '2021-11-03'
                      dokumentart: Drucksache
                      drucksachetyp: Verordnung
                      herausgeber: BT
                      urheber:
                        - Bundesministerium für Gesundheit
                    urheber:
                      - einbringer: false
                        bezeichnung: BMG
                        titel: Bundesministerium für Gesundheit
                  - id: '258209'
                    drucksachetyp: Vorschlag
                    dokumentart: Drucksache
                    autoren_anzahl: 0
                    typ: Dokument
                    dokumentnummer: 782/21
                    wahlperiode: 20
                    herausgeber: BR
                    datum: '2021-11-02'
                    titel: Benennung eines stellvertretenden Mitglieds für den Beirat der Bundesnetzagentur
                      für Elektrizität, Gas, Telekommunikation, Post und Eisenbahnen
                    text: "Bundesrat Drucksache 782/21\n02.11.21\nVertrieb: Bundesanzeiger Verlag GmbH,
                      Postfach 10 05 34, 50445 Köln \nTelefon (02 21) 97 66 83 40, Fax (02 21) 97 66 83
                      44, www.betrifft-gesetze.de \nISSN 0720-2946\nVorschlag\nan den Bundesrat\nBenennung
                      eines stellvertretenden Mitglieds für den Beirat der \nBundesnetzagentur für Elektrizität,
                      Gas, Telekommunikation, \nPost und Eisenbahnen\nDer Ministerpräsident  Magdeburg,
                      2. November 2021 \ndes Landes Sachsen-Anhalt\nAn den \nPräsidenten des Bundesrates
                      \nHerrn Ministerpräsidenten \nBodo Ramelow\nSehr geehrter Herr Präsident,\ndie Landesregierung
                      von Sachsen-Anhalt hat am 2. November 2021 beschlossen, \nHerrn Staatssekretär Bernd
                      Schlömer – als Nachfolger von Herrn Staatssekretär \na. D. Klaus Rehda – als stellvertretendes
                      Mitglied des Beirates bei der Bundes-\nnetzagentur für Elektrizität, Gas, Telekommunikation,
                      Post und Eisenbahnen \nvorzuschlagen. \nIch bitte Sie, den Benennungsvorschlag gemäß
                      § 36 Absatz 2 der Geschäftsordnung \ndes Bundesrates auf die Tagesordnung der 1010.
                      Sitzung des Bundesrates am \n5. November 2021 zu setzen und eine sofortige Sachentscheidung
                      herbeizuführen. \nMit freundlichen Grüßen  \nDr. Reiner Haseloff"
                    fundstelle:
                      pdf_url: https://dserver.bundestag.de/brd/2021/0782-21.pdf
                      id: '258209'
                      dokumentnummer: 782/21
                      datum: '2021-11-02'
                      dokumentart: Drucksache
                      drucksachetyp: Vorschlag
                      herausgeber: BR
                      urheber: [ ]
                cursor: AoJwgLH53PwCMURydWNrc2FjaGUtMjU4MTkz
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /drucksache-text/{id}:
    get:
      summary: Volltexte einer Drucksache
      description: Soweit vorhanden werden zusätzlich die Volltexte einer Drucksache ausgegeben
      operationId: drucksacheTextId
      tags:
        - drucksache      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            example: 908
          required: true
          description: ID der Drucksache
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                id: '908'
                drucksachetyp: Antrag
                dokumentart: Drucksache
                autoren_anzahl: 0
                typ: Dokument
                dokumentnummer: 15/5005
                wahlperiode: 15
                herausgeber: BT
                datum: '2005-03-03'
                titel: "Rechnung des Bundesrechnungshofes für das Haushaltsjahr 2004 \n- Einzelplan
                  20 -"
                text: |-
                  Deutscher Bundestag Drucksache 15/5005
                  15. Wahlperiode 03. 03. 2005
                  Zugeleitet mit Schreiben des Präsidenten des Bundesrechnungshofes vom 28. Februar 2005 gemäß § 101 der Bundeshaus-
                  haltsordnung mit der Bitte, die Rechnung zu prüfen und die Entscheidung des Deutschen Bundestages über die Entlastung
                  herbeizuführen.
                  Antrag
                  des Präsidenten des Bundesrechnungshofes
                  Rechnung des Bundesrechnungshofes für das Haushaltsjahr 2004
                  – Einzelplan 20 –
                  I n h a l t
                  Seite
                  Vorbemerkung ......................................................................................................... 2
                  Rechnung über den Haushalt des Einzelplans 20 Bundesrechnungshof
                  für das Haushaltsjahr 2004 ...................................................................................... 9
                  Drucksache 15/5005 – 2 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 3 – Drucksache 15/5005
                  Drucksache 15/5005 – 4 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 5 – Drucksache 15/5005
                  Drucksache 15/5005 – 6 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 7 – Drucksache 15/5005
                  Drucksache 15/5005 – 8 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 9 – Drucksache 15/5005
                  10
                  16
                  Drucksache 15/5005 – 10 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 11 – Drucksache 15/5005
                  Drucksache 15/5005 – 12 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 13 – Drucksache 15/5005
                  Drucksache 15/5005 – 14 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 15 – Drucksache 15/5005
                  Drucksache 15/5005 – 16 – Deutscher Bundestag – 15. Wahlperiode
                  Deutscher Bundestag – 15. Wahlperiode – 17 – Drucksache 15/5005
                  Drucksache 15/5005 – 18 – Deutscher Bundestag – 15. Wahlperiode

                  Gesamtherstellung: H. Heenemann GmbH & Co., Buch- und Offsetdruckerei, Bessemerstraße 83–91, 12103 Berlin
                  Vertrieb: Bundesanzeiger Verlagsgesellschaft mbH, Postfach 13 20, 53003 Bonn, Telefon (02 28) 3 82 08 40, Telefax (02 28) 3 82 08 44
                  ISSN 0722-8333
                fundstelle:
                  pdf_url: https://dserver.bundestag.de/btd/15/050/1505005.pdf
                  id: '908'
                  dokumentnummer: 15/5005
                  datum: '2005-03-03'
                  dokumentart: Drucksache
                  drucksachetyp: Antrag
                  herausgeber: BT
                  urheber:
                    - Präsident des Bundesrechnungshofes
                urheber:
                  - einbringer: false
                    bezeichnung: BRHPräs
                    titel: Präsident des Bundesrechnungshofes

        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /person:
    get:
      summary: Liste aller Personenstammdaten
      description: Liste aller Personenstammdaten
      operationId: person
      tags:
        - person      
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                numFound: 5293
                documents:
                  - id: '847'
                    nachname: Pau
                    vorname: Petra
                    typ: Person
                    wahlperiode: 14
                    basisdatum: '1998-10-26'
                    datum: '2021-11-02'
                    titel: Petra Pau, Bundestagsvizepräs.
                    person_roles:
                      - funktion: MdB
                        fraktion: DIE LINKE
                        nachname: Pau
                        vorname: Petra
                        wahlperiode_nummer:
                          - 16
                          - 17
                          - 18
                          - 19
                          - 20
                      - funktion: MdB
                        fraktion: fraktionslos
                        nachname: Pau
                        vorname: Petra
                        wahlperiode_nummer:
                          - 15
                      - funktion: MdB
                        fraktion: PDS
                        nachname: Pau
                        vorname: Petra
                        wahlperiode_nummer:
                          - 14
                  - id: '2125'
                    nachname: Domscheit-Berg
                    vorname: Anke
                    typ: Person
                    wahlperiode: 19
                    basisdatum: '2017-10-24'
                    datum: '2021-11-02'
                    titel: Anke Domscheit-Berg, MdB, DIE LINKE
                cursor: AoJwgOLMrvwCK1BlcnNvbi03MDM2
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /person/{id}:
    get:
      summary: Personenstammdaten
      description: Personenstammdaten
      operationId: personId
      tags:
        - person            
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            example: 908
          required: true
          description: ID der Person
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                id: '908'
                nachname: Wolf
                vorname: Rüdiger
                typ: Person
                wahlperiode: 16
                basisdatum: '2008-03-28'
                datum: '2013-12-20'
                titel: Rüdiger Wolf, Staatssekr., Bundesministerium der Verteidigung

        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /plenarprotokoll:
    get:
      summary: Liste aller Plenarprotokolle
      description: Liste aller Plenarprotokolle
      operationId: plenarprotokoll
      tags:
        - plenarprotokoll            
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                numFound: 5422
                documents:
                  - id: '5432'
                    dokumentart: Plenarprotokoll
                    typ: Dokument
                    vorgangsbezug_anzahl: 7
                    dokumentnummer: 20/1
                    wahlperiode: 20
                    herausgeber: BT
                    datum: '2021-10-26'
                    titel: Protokoll der 1. Sitzung des 20. Deutschen Bundestages
                    fundstelle:
                      pdf_url: https://dserver.bundestag.de/btp/20/20001.pdf
                      id: '5432'
                      dokumentnummer: 20/1
                      datum: '2021-10-26'
                      verteildatum: '2021-10-27'
                      dokumentart: Plenarprotokoll
                      herausgeber: BT
                      urheber: [ ]
                    vorgangsbezug:
                      - id: '282546'
                        titel: Eröffnung konstituierender Sitzungen durch den Alterspräsidenten
                        vorgangstyp: Geschäftsordnung
                      - id: '282545'
                        titel: Weitergeltung von Geschäftsordnungsrecht
                        vorgangstyp: Geschäftsordnung
                      - id: '282564'
                        titel: Eröffnung der 1. Sitzung des 20. Deutschen Bundestages
                        vorgangstyp: Ansprache/Erklärung/Mitteilung
                      - id: '282550'
                        titel: Festlegung der Zahl der Stellvertreterinnen und Stellvertreter des Präsidenten
                        vorgangstyp: Antrag
                  - id: '5431'
                    dokumentart: Plenarprotokoll
                    typ: Dokument
                    vorgangsbezug_anzahl: 32
                    dokumentnummer: '1009'
                    wahlperiode: 19
                    herausgeber: BR
                    datum: '2021-10-08'
                    titel: Protokoll der 1009. Sitzung des Bundesrates
                    fundstelle:
                      pdf_url: https://dserver.bundestag.de/brp/1009.pdf
                      id: '5431'
                      dokumentnummer: '1009'
                      datum: '2021-10-08'
                      dokumentart: Plenarprotokoll
                      herausgeber: BR
                      urheber: [ ]
                    vorgangsbezug:
                      - id: '279115'
                        titel: "Vorschlag für eine Richtlinie des Europäischen Parlaments und des Rates
                        zur Änderung der Richtlinien 2013/34/EU, 2004/109/EG und 2006/43/EG und der Verordnung
                        (EU) Nr. 537/2014 hinsichtlich der Nachhaltigkeitsberichterstattung von Unternehmen\r\nKOM(2021)189
                        endg.; Ratsdok. 8132/21\r\n"
                        vorgangstyp: EU-Vorlage
                      - id: '258378'
                        titel: "Mitteilung der Kommission an das Europäische Parlament und den Rat\r\nGestaltung
                        der Konferenz zur Zukunft Europas \r\nKOM(2020) 27 endg.; Ratsdok. 5513/20"
                        vorgangstyp: EU-Vorlage
                      - id: '279134'
                        titel: "Mitteilung der Kommission an das Europäische Parlament, den Rat, den Europäischen
                        Wirtschafts- und Sozialausschuss und den Ausschuss der Regionen \r\nFörderung
                        eines europäischen Konzepts für künstliche Intelligenz\r\nKOM(2021) 205 endg.;
                        Ratsdok. 8334/21"
                        vorgangstyp: EU-Vorlage
                      - id: '280803'
                        titel: "Mitteilung der Kommission an das Europäische Parlament, den Rat, den Europäischen
                        Wirtschafts- und Sozialausschuss und den Ausschuss der Regionen\r\nBericht über
                        die Rechtsstaatlichkeit 2021\r\nDie Lage der Rechtsstaatlichkeit in der Europäischen
                        Union\r\nKOM(2021) 700 endg."
                        vorgangstyp: EU-Vorlage
                cursor: AoJwwLfbqfICNFBsZW5hcnByb3Rva29sbC01MzMy
        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /plenarprotokoll/{id}:
    get:
      summary: Metadaten zu Plenarprotokoll
      description: Metadaten zu Plenarprotokoll
      operationId: plenarprotokollId
      tags:
        - plenarprotokoll      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            example: 908
          required: true
          description: ID des Plenarprotokolles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                id: '908'
                dokumentart: Plenarprotokoll
                typ: Dokument
                vorgangsbezug_anzahl: 6
                dokumentnummer: 19/1
                wahlperiode: 19
                herausgeber: BT
                datum: '2017-10-24'
                titel: Protokoll der 1. Sitzung des 19. Deutschen Bundestages
                fundstelle:
                  pdf_url: https://dserver.bundestag.de/btp/19/19001.pdf
                  id: '908'
                  dokumentnummer: 19/1
                  datum: '2017-10-24'
                  verteildatum: '2017-10-25'
                  dokumentart: Plenarprotokoll
                  herausgeber: BT
                  urheber: [ ]
                vorgangsbezug:
                  - id: '84344'
                    titel: Festlegung der Zahl der Stellvertreterinnen und Stellvertreter des Präsidenten
                    vorgangstyp: Antrag
                  - id: '84393'
                    titel: Eröffnung der 1. Sitzung des 19. Deutschen Bundestages
                    vorgangstyp: Ansprache/Erklärung/Mitteilung
                  - id: '84352'
                    titel: Grundsatz der Diskontinuität in der konstituierenden Sitzung des 19. Deutschen
                      Bundestages
                    vorgangstyp: Geschäftsordnung
                  - id: '84396'
                    titel: Wahl der Stellvertreterinnen und Stellvertreter des Präsidenten
                    vorgangstyp: Wahl im BT

        '401':
          $ref: "#/components/responses/UnauthorizedError"
        '404':
          $ref: "#/components/responses/NotFoundError"

  /plenarprotokoll-text:
    get:
      summary: Liste aller Volltexte der Plenarprotokolle
      description: Liste aller Volltexte der Plenarprotokolle
      operationId: plenarprotokollText
      tags:
        - plenarprotokoll      
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                numFound: 5422
                documents:
                  - id: '5432'
                    dokumentart: Plenarprotokoll
                    typ: Dokument
                    dokumentnummer: 20/1
                    wahlperiode: 20
                    herausgeber: BT
                    datum: '2021-10-26'
                    titel: Protokoll der 1. Sitzung des 20. Deutschen Bundestages
                    text: "Deutscher Bundestag\nStenografischer Bericht\n1. Sitzung\nBerlin, Dienstag,
                      den 26. Oktober 2021\nI n h a l t :\nAlterspräsident Dr. Wolfgang Schäuble . . .
                      . . . . . . . . 1 A\nZur Geschäftsordnung:\nDr. Bernd Baumann (AfD) . . . . . .
                      . . . . . . . . . . . . . . . . . 1 B\nCarsten Schneider (Erfurt) (SPD) . . . .
                      . . . . . . . . . . . . . 2 A\nMichael Grosse-Brömer (CDU/CSU) . . . . . . . . .
                      . . . . 3 A\nTagesordnungspunkt 1:\nEröffnung der Sitzung durch den Altersprä-\nsidenten\nDrucksache
                      20/2 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 4 B\nAlterspräsident
                      Dr. Wolfgang Schäuble . . . . . . . . . . . 4 A\nTagesordnungspunkt 2:\nBeschlussfassung
                      über die\n– Geschäftsordnung des Deutschen Bundes-\ntages\n– Gemeinsame Geschäftsordnung
                      des Bun-\ndestages und des Bundesrates für den Aus-\nschuss nach Artikel 77 des
                      Grundgesetzes \n(Vermittlungsausschuss)\n– Geschäftsordnung für den Gemeinsamen
                      \nAusschuss\n– Geschäftsordnung für das Verfahren nach \nArtikel 115d des Grundgesetzes\nDrucksache
                      20/1 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 7 D\nGabriele
                      Katzmarek (SPD) . . . . . . . . . . . . . . . . . . . . . . . 8 A\nStefan Müller
                      (Erlangen) (CDU/CSU) . . . . . . . . . . . . 8 C\nBritta Haßelmann (BÜNDNIS 90/
                      \nDIE GRÜNEN) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 9
                      C\nDr. Marco Buschmann (FDP) . . . . . . . . . . . . . . . . . . . . 10 C\nStephan
                      Brandner (AfD) . . . . . . . . . . . . . . . . . . . . . . . . . 11 B\nJan Korte
                      (DIE LINKE) . . . . . . . . . . . . . . . . . . . . . . . . . 12 D\nTagesordnungspunkt
                      3:\nWahl der Präsidentin/des Präsidenten verbun-\nden mit Namensaufruf und Feststellung
                      der \nBeschlussfähigkeit\nDr. Rolf Mützenich (SPD) . . . . . . . . . . . . . . .
                      . . . . . . . . 14 B\nAlterspräsident Dr. Wolfgang Schäuble . . . . . . . . . .
                      14 C\nBärbel Bas (SPD) . . . . . . . . . . . . . . . . . . . . . . . . . . . . .
                      . . 15 C\nAlterspräsident Dr. Wolfgang Schäuble . . . . . . . . . . 15 C\nTagesordnungspunkt
                      4:\nAmtsübernahme durch die Präsidentin/den \nPräsidenten mit Ansprache\nPräsidentin
                      Bärbel Bas . . . . . . . . . . . . . . . . . . . . . . . . . . 15 C\nTagesordnungspunkt
                      5:\nFestlegung der Zahl der Stellvertreterinnen \nund Stellvertreter der Präsidentin/des
                      Prä-\nsidenten\nDrucksache 20/5 . . . . . . . . . . . . . . . . . . . . . . . .
                      . . . . . . . . 18 C\nFabian Jacobi (AfD) . . . . . . . . . . . . . . . . . . .
                      . . . . . . . . . . 18 D\nTagesordnungspunkt 6:\nWahl der Stellvertreterinnen und
                      Stellvertreter \nder Präsidentin/des Präsidenten\nAydan Özoğuz (SPD) . . . . . .
                      . . . . . . . . . . . . . . . . . . . . . 20 B\nYvonne Magwas (CDU/CSU) . . . .
                      . . . . . . . . . . . . . . . . 20 C\nClaudia Roth (Augsburg) (BÜNDNIS 90/ \nDIE
                      GRÜNEN) . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 20 C\nWolfgang
                      Kubicki (FDP) . . . . . . . . . . . . . . . . . . . . . . . . 20 C\nPlenarprotokoll
                      20/1 \nPetra Pau (DIE LINKE) . . . . . . . . . . . . . . . . . . . . . . . . . 20
                      D\nTagesordnungspunkt 7:\nNationalhymne . . . . . . . . . . . . . . . . . . . .
                      . . . . . . . . . . . . . . 21 C\nNächste Sitzung . . . . . . . . . . . . . . .
                      . . . . . . . . . . . . . . . . . . 21 C\nAnlage 1\nEntschuldigte Abgeordnete .
                      . . . . . . . . . . . . . . . . . . . . . 23 A\nAnlage 2\nErgebnis und Namensverzeichnis
                      der Mitglie-\nder des Deutschen Bundestages, die an der \nWahl der Präsidentin des
                      Deutschen Bundes-\ntages teilgenommen haben\n(Tagesordnungspunkt 3) . . . . . .
                      . . . . . . . . . . . . . . . . . . . 23 A\nAnlage 3\nErgebnisse und Namensverzeichnis
                      der Mit-\nglieder des Deutschen Bundestages, die an \nder Wahl der Stellvertreterinnen
                      und Stellver-\ntreter der Präsidentin des Deutschen Bundes-\ntages teilgenommen
                      haben\n(Tagesordnungspunkt 6) . . . . . . . . . . . . . . . . . . . . . . . . .
                      27 A\nDeutscher Bundestag – 20. Wahlperiode – 1. Sitzung. Berlin, Dienstag, den
                      26. Oktober 2021                                II \n1. Sitzung\nBerlin, Dienstag,
                      den 26. Oktober 2021\nBeginn: 11.00 Uhr\nAlterspräsident Dr. Wolfgang Schäuble:\nSehr
                      geehrte Kolleginnen und Kollegen, bitte nehmen \nSie Platz.\nIch begrüße Sie zur
                      konstituierenden Sitzung des \n20. Deutschen Bundestages. Es entspricht der ständigen
                      \nÜbung, zu Beginn der konstituierenden Sitzung nach den \nRegelungen der bisherigen
                      Geschäftsordnung des Deut-\nschen Bundestages zu verfahren.\n§ 1 Absatz 2 der Geschäftsordnung
                      des Deutschen \nBundestages sieht vor, dass das am längsten dem Bundes-\ntag angehörende
                      Mitglied, das hierzu bereit ist, den Vor-\nsitz übernimmt, bis der Deutsche Bundestag
                      eine Prä-\nsidentin oder einen Präsidenten gewählt hat.\nDie Fraktion der AfD widerspricht
                      dieser Praxis und \nhat beantragt, dass in der ersten Sitzung des Bundestages \ndas
                      an Jahren älteste Mitglied den Vorsitz führt.\nWird hierzu das Wort gewünscht? –
                      Herr Kollege \nBaumann.\n(Beifall bei der AfD – Jan Korte [DIE LINKE]: \nEs geht
                      genauso ätzend los wie beim letzten \nMal!)\nDr. Bernd Baumann (AfD):\nHerr Präsident!
                      Meine Damen und Herren! Heute kon-\nstituiert sich ein neuer Bundestag. Seit bald
                      zwei Jahr-\nhunderten ist es fester parlamentarischer Brauch, dass ein \nsogenannter
                      Alterspräsident diese erste Sitzung eröffnet. \nDas war immer – aus Respekt vor
                      dem Alter – der älteste \nAbgeordnete von allen. Von der Frankfurter Paulskirche
                      \nbis zum Parlament des Kaiserreichs, von der Weimarer \nRepublik bis zum wiedervereinigten
                      Deutschland, sogar \nbis tief hinein in die Regierungszeit Merkels – alle \nReichstage,
                      alle Bundestage hielten sich an diese Regel.\nIn fast zwei Jahrhunderten hat nur
                      ein Parlament es \ngewagt, mit dieser Tradition zu brechen. Das war – man \nmuss
                      es deutlich sagen – 1933 nach der Machtergreifung \nmit einem Präsidenten Hermann
                      Göring. Soll das Ihr Vor-\nbild sein?\n(Beifall bei der AfD – Dr. Marco Buschmann
                      \n[FDP]: Das ist die gleiche Rede! – Zurufe von \nder SPD und dem BÜNDNIS 90/DIE
                      \nGRÜNEN: Oh!)\nDavor hatte ich Sie schon 2017 gewarnt. Das ist keine \ngute Tradition.
                      Kommen Sie wieder zurück auf den seit \nJahrhunderten bewährten Weg aller deutschen
                      Demokra-\nten.\n(Beifall bei der AfD – Jan Korte [DIE LINKE]: \nGöring ist aber
                      Ihre Tradition!)\nWarum wollen Sie diese Regel heute wieder durch-\nbrechen? Ist
                      doch klar: Wie vor vier Jahren kommt auch \nheute der älteste und erfahrenste Abgeordnete
                      und damit \nder legitime Alterspräsident aus den Reihen der AfD. \nAkzeptieren Sie
                      das. Erkennen Sie das endlich an.\n(Beifall bei der AfD)\nEs gibt noch einen Grund,
                      warum Sie sich weigern. \nDenn der Älteste und Erfahrenste in diesem neu gewähl-\nten
                      Parlament ist Alexander Gauland, über ein halbes \nJahrhundert in der deutschen
                      Politik, auch an führenden \nStellen, 40 Jahre davon in der CDU, und in den vergan-\ngenen
                      vier Jahren der mächtigste und wortgewaltigste \nOppositionsführer hier im Hause,
                      meine Damen und Her-\nren.\n(Beifall bei der AfD – Lachen bei Abge-\nordneten der
                      SPD, des BÜNDNISSES 90/DIE \nGRÜNEN und der LINKEN)\nDen legitimen Alterspräsidenten
                      Gauland wollen Sie \nverhindern. Genauso gehen Sie beim Amt des Vizeprä-\nsidenten
                      vor. Auch das verweigern Sie uns seit vielen \nJahren, ein wichtiges, ein zentrales
                      Amt, das alle anderen \nFraktionen bekommen und das laut der Geschäftsord-\nnung
                      auch der AfD zusteht. Beides, die Verweigerung \ndes Alterspräsidenten wie auch
                      des Vizepräsidenten, ist \nnicht nur eine Missachtung der AfD als gleichberechtigte
                      \nFraktion hier im Hause, schlimmer noch: Es ist auch eine \nMissachtung, eine Herabsetzung
                      von Millionen Wählern, \neine Beleidigung jedes einzelnen, eine Verhöhnung der \nDemokratie,
                      meine Damen und Herren.\n(Beifall bei der AfD)\nDeutscher Bundestag – 20. Wahlperiode
                      – 1. Sitzung. Berlin, Dienstag, den 26. Oktober 2021                                                                                                                                                                                                      1\n(A)
                      \n(B) \n(C) \n(D) \nAm Umgang von Regierungs- und Parlamentsmehr-\nheit mit der
                      Opposition zeigt sich der Zustand einer \nDemokratie. Eigentlich müsste die EU-Kommission
                      \numgehend ein Rechtsstaatsverfahren eröffnen –\n(Lachen bei Abgeordneten der SPD,
                      der CDU/ \nCSU und des BÜNDNISSES 90/DIE \nGRÜNEN)\nnicht gegen Ungarn, nicht gegen
                      Polen, meine Damen \nund Herren, sondern gegen Deutschland wegen offen-\nsichtlicher
                      und fortgesetzter Benachteiligung der Oppo-\nsition in diesem Haus.\n(Beifall bei
                      der AfD)\nWir werden nachher sehen, wie es bei der Wahl des \nVizepräsidenten weitergeht.
                      Mit Michael Kaufmann tritt \nein sehr renommierter Hochschulprofessor an. Selbst
                      der \nlinke Ministerpräsident in Thüringen hat ihn gewählt, und \nnicht mal Frau
                      Merkel hat das rückgängig gemacht.\n(Beifall bei der AfD)\nAlterspräsident Dr. Wolfgang
                      Schäuble:\nAls Nächstem erteile ich das Wort dem Kollegen \nCarsten Schneider, SPD.\n(Beifall
                      bei der SPD sowie bei Abgeordneten \ndes BÜNDNISSES 90/DIE GRÜNEN und der \nLINKEN)\nCarsten
                      Schneider (Erfurt) (SPD):\nHerr Präsident! Sehr geehrte Damen und Herren! Heu-\nte
                      ist in der Tat ein besonderer Tag für die Demokratie. \nNach der freien Wahl des
                      deutschen Volkes stehen wir \nheute hier als Abgeordnete des Deutschen Bundestages,
                      \num uns als Bundestag zu konstituieren.\nVon diesem Bundestag geht die Macht in
                      Deutschland \naus. Wir werden – die einen mit Ja, die anderen mit Nein – \neinen
                      Bundeskanzler wählen. Dazu gibt es eine Neue-\nrung – das gehört zur Demokratie
                      dazu und zeichnet sie \naus –, und zwar, dass drei Parteien miteinander eine Koa-\nlition
                      anstreben, die bisher noch nie miteinander koaliert \nhaben. Es zeichnet diesen
                      Bundestag und dieses Land \naus, dass eine große Partei, nämlich die Union, die
                      lange \nan der Macht war, diese friedlich und fair übergibt. Ich \nmöchte mich ganz
                      besonders bei der Unionsfraktion für \ndie faire Zusammenarbeit der letzten Jahre
                      bedanken. \nVielen Dank!\n(Beifall bei der SPD sowie bei Abgeordneten \nder CDU/CSU
                      und des BÜNDNISSES 90/DIE \nGRÜNEN)\nIch sage das, bevor ich zur AfD und dem Antrag
                      kom-\nme, auch in Richtung der amtierenden Bundeskanzlerin \nund der Minister. Ich
                      sehe Minister Altmaier hier, den ich \nals Verhandler in der Arbeitsgruppe Wirtschaft
                      vor weni-\ngen Tagen angerufen habe, um mit ihm darüber zu spre-\nchen, welche Dinge
                      er uns mitgeben kann und dass er uns \ndas Haus für Informationen öffnet.\n(Dr.
                      Gottfried Curio [AfD]: Sprechen Sie zur \nSache!)\nDas geschieht. Das ist Demokratie
                      in Deutschland: faire \nÜbergabe von Macht, Akzeptanz von Wahlergebnissen.\nSie,
                      liebe AfD, haben die Wahl verloren.\n(Beifall bei der SPD sowie bei Abgeordneten
                      \nder CDU/CSU, des BÜNDNISSES 90/DIE \nGRÜNEN, der FDP und der LINKEN)\nSie haben
                      an Stimmen verloren, an Zustimmung in \nDeutschland.\nZur Demokratie gehört, dass
                      sich dieser Bundestag, die \nAbgeordneten eine Geschäftsordnung geben. Das ist der
                      \nUnterschied zur Weimarer Republik, die hier zu zitieren \nSie, Herr Baumann, sich
                      erdreistet haben; Sie haben sich \nerdreistet, hier von 1933 zu zitieren. Das ist
                      eine Frech-\nheit.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE GRÜNEN,
                      der FDP und der \nLINKEN – Dr. Bernd Baumann [AfD]: Die \nhaben sich an Regeln gehalten,
                      Sie nicht!)\nDie Verfassung der Weimarer Republik war gut. Es gab \nnur zu wenig
                      Demokraten, die sie unterstützt haben, und \nes gab zu viele, die sie von innen
                      heraus bekämpft und \ndiffamiert haben.\n(Zuruf des Abg. Dr. Gottfried Curio [AfD])\nIhre
                      Truppe hat dazugehört. Ihre Vorgänger haben \ndazugehört.\n(Beifall bei der SPD,
                      dem BÜNDNIS 90/DIE \nGRÜNEN, der FDP und der LINKEN sowie bei \nAbgeordneten der
                      CDU/CSU – Dr. Bernd \nBaumann [AfD]: Sie machen den Nazi-\nvergleich! – Dr. Alice
                      Weidel [AfD]: Es wird \nimmer besser!)\nWir schlagen vor, dass Alterspräsident,
                      so wie es die \nGeschäftsordnung des letzten Bundestages vorgesehen \nhat, derjenige
                      ist, der an Dienstjahren die meiste Zeit \nhier im Bundestag verbracht hat. Ich
                      könnte mir gar \nkeinen besseren Alterspräsidenten vorstellen als \nDr. Wolfgang
                      Schäuble.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE GRÜNEN und der
                      FDP \nsowie bei Abgeordneten der LINKEN)\nIch habe ihn persönlich schätzen gelernt
                      als Bundes-\nfinanzminister in der Eurokrise. Ich habe ihn schätzen \ngelernt hier
                      in der Zusammenarbeit als Präsident. Nie-\nmand verfügt über so viel Erfahrung,
                      um diese erste Sit-\nzung des Bundestages zu leiten und einen fairen Über-\ngang
                      zu garantieren.\nVon daher: Wir lehnen Ihren Antrag strikt ab und sind \nfür Herrn
                      Dr. Schäuble.\nVielen Dank.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE
                      GRÜNEN und der FDP \nsowie bei Abgeordneten der LINKEN)\nAlterspräsident Dr. Wolfgang
                      Schäuble:\nJetzt erteile ich das Wort dem Kollegen Michael \nGrosse-Brömer.\n(Beifall
                      bei Abgeordneten der CDU/CSU)\nDeutscher Bundestag – 20. Wahlperiode – 1. Sitzung.
                      Berlin, Dienstag, den 26. Oktober 2021                                2 \nDr. Bernd
                      Baumann \n(A) \n(B) \n(C) \n(D) \nLiebe Kolleginnen und Kollegen, da meine Funktion
                      \nals Alterspräsident im Moment noch umstritten ist, kann \nich auf die Einhaltung
                      der Geschäftsordnung nicht so \ndrängen, wie ich es die letzten vier Jahre getan
                      habe. \nAlso überfordern Sie mich bitte nicht.\n(Dr. Bernd Baumann [AfD]: Das hätte
                      ich \nvorher wissen sollen!)\nBitte, Herr Grosse-Brömer.\n(Beifall bei der CDU/CSU
                      sowie bei Abge-\nordneten der SPD, des BÜNDNISSES 90/DIE \nGRÜNEN und der FDP)\nMichael
                      Grosse-Brömer (CDU/CSU):\nSehr geehrter Herr Präsident! Lieber Herr Baumann, \nSie
                      haben Herrn Gauland vorgeschlagen. Wer das dun-\nkelste Kapitel unserer Geschichte
                      als „Fliegenschiss“ \nbezeichnet, der hat sich schon dadurch disqualifiziert, \nhier
                      jemals als Alterspräsident aufzutreten.\n(Beifall bei der CDU/CSU, der SPD, dem
                      \nBÜNDNIS 90/DIE GRÜNEN, der FDP und der \nLINKEN – Stephan Brandner [AfD]: Das
                      war \nein falsches Zitat, Herr Grosse-Brömer! Er hat \nnicht „Fliegenschiss“ gesagt!)\nSondern?\n(Zurufe
                      von der FDP und der AfD: \n„Vogelschiss“!)\n„Vogelschiss“ macht die Sache jetzt
                      ausnahmsweise nicht \nbesser. Aber vielen Dank für den Hinweis.\n(Heiterkeit und
                      Beifall bei Abgeordneten der \nCDU/CSU, der SPD und des BÜND-\nNISSES 90/DIE GRÜNEN)\nBei
                      der AfD ist immer viel von Ausgrenzung die Rede. \nDie einzige Ausgrenzung, die
                      hier stattfindet, ist die \nSelbstausgrenzung aus den Reihen der AfD, insbesonde-\nre
                      von denen, die „überzeugte Parlamentarier“ sind. Wir \nhaben Sie die vergangenen
                      vier Jahre erlebt, und eigent-\nlich haben Sie nichts unversucht gelassen, diesem
                      Par-\nlament zu schaden.\nAuch Ihr Antrag heute ist nicht besser. Insbesondere –
                      \ndas ist die Kontinuität in Ihrem Vorgehen – ist er wieder \nschlampig begründet.
                      Da steht zum Beispiel, die Rege-\nlung zum Alterspräsidenten würde Kolleginnen und
                      Kol-\nlegen aus den neuen Bundesländern benachteiligen, weil \ndiese erst nach 1990
                      kandidieren konnten. Wenn Sie mal \nin die Liste der dienstältesten Kolleginnen
                      und Kollegen \ngeschaut hätten, was Sie im Gegensatz zu mir offenbar \nnicht getan
                      haben,\n(Jan Korte [DIE LINKE]: Das stimmt!)\ndann hätten Sie festgestellt, dass
                      auf Wolfgang Schäuble \nnur Mitglieder folgen, die nach 1990 in diesen Bundestag
                      \neingezogen sind.\n(Heiterkeit bei Abgeordneten der CDU/CSU)\nAlso ist die Begründung
                      schon in der Sache völlig \nunschlüssig. Im Übrigen folgt an dritter Stelle der
                      Kolle-\nge Gregor Gysi. Also, eine Schlechterstellung der ost-\ndeutschen Kolleginnen
                      und Kollegen ist für mich spontan \njetzt nicht erkennbar.\n(Beifall bei der CDU/CSU,
                      der SPD, dem \nBÜNDNIS 90/DIE GRÜNEN, der FDP und der \nLINKEN – Jan Korte [DIE
                      LINKE]: Das ist \nwahr!)\nOb das mit Herrn Gysi jetzt eine gute Idee wäre, ist eine
                      \nandere Geschichte. Aber es ist erst mal so.\n(Zuruf des Abg. Jan Korte [DIE LINKE])\nHerr
                      Dr. Schäuble, ich möchte die Gelegenheit nutzen, \nzu sagen: Die Regelung des Alterspräsidenten
                      hat sich \nbewährt. Es ist eine besondere Freude, dass Sie heute \nals Alterspräsident
                      diese Sitzung eröffnet haben.\n(Beifall bei der CDU/CSU sowie bei Abge-\nordneten
                      des BÜNDNISSES 90/DIE GRÜ-\nNEN)\nIch möchte die Gelegenheit nutzen, im Namen meiner
                      \nFraktion herzlich Dank zu sagen für Ihre Tätigkeit als \nBundestagspräsident in
                      den letzten Jahren. Sie haben die-\nses Amt besonnen, unparteiisch und würdig ausgeführt.
                      \nSie haben den Bundestag gegen Angriffe von außen und \nvon innen verteidigt, und
                      Ihnen war vor allem der faire \nAusgleich von Mehrheit und Opposition immer ein
                      \nbesonderes Anliegen. Dafür herzlichen Dank!\n(Beifall bei der CDU/CSU, der SPD,
                      dem \nBÜNDNIS 90/DIE GRÜNEN und der FDP \nsowie bei Abgeordneten der LINKEN)\nAls
                      Letztes kurz ein Hinweis, weil wir gerade von \nfairem Ausgleich von Mehrheit und
                      Opposition sprechen: \nAuch Carsten Schneider danke ich herzlich für die gute \nZusammenarbeit
                      in den letzten Jahren. Das haben wir gut \nhingekriegt. Jetzt sind wir in anderer
                      Position. Mal \ngucken, wie es läuft. Aber ich glaube, wir haben gute \nGrundlagen,
                      weiterhin vernünftig gemeinsam zu arbei-\nten.\nMit Blick auf fairen Übergang, den
                      auch ich mir wün-\nsche, und fairen Ausgleich von Mehrheit und Opposition \nmöchte
                      ich doch eines sagen: Gleich nach der Wahl eine \ntraditionelle Sitzordnung im Plenum
                      mit der Brechstange \nändern zu wollen, ist kein guter Stil, finde ich.\n(Beifall
                      bei der CDU/CSU – Widerspruch bei \nAbgeordneten der FDP)\nIch spüre einen Hauch
                      von Arroganz der Macht. Aber ich \nbin auch überzeugt, dass die Opposition, insbesondere
                      \ndie Liberalen, so klug sind, davon abzusehen,\n(Christian Lindner [FDP]: Die Opposition
                      \nspricht von Arroganz der Macht!)\ntraditionelle Gepflogenheiten dieses Parlamentes
                      – kaum \nin der Mehrheit – aus Eigennutz zu ändern.\n(Christian Lindner [FDP]: Wahlrecht,
                      sage ich \nnur! Wahlrecht pur als Opposition!)\nIch bin da sehr sicher. Ich setze
                      auf die Einsichtsfähigkeit \nund Klugheit der FDP, die bewährte Tradition in diesem
                      \nHause zu erhalten.\nLiebe Kolleginnen und Kollegen, wir lehnen den \nAntrag der
                      AfD aus, wie ich finde, guten Gründen ab.\n(Beifall bei der CDU/CSU sowie bei Abge-\nordneten
                      der SPD und des BÜNDNISSES 90/ \nDIE GRÜNEN)\nDeutscher Bundestag – 20. Wahlperiode
                      – 1. Sitzung. Berlin, Dienstag, den 26. Oktober 2021                                                                                                                                                                                                      3\nAlterspräsident
                      Dr. Wolfgang Schäuble \n(A) \n(B) \n(C) \n(D) \nAlterspräsident Dr. Wolfgang Schäuble:\nGibt
                      es weitere Wortmeldungen? – Das ist nicht der \nFall. Dann lasse ich über den Antrag
                      der Fraktion der \nAfD auf Drucksache 20/2 abstimmen. Wer stimmt für \nden Antrag
                      der AfD? – Wer stimmt dagegen? – Wer \nenthält sich? – Das ist offenbar niemand.
                      Dann ist der \nAntrag der AfD gegen die Stimmen der AfD mit den \nStimmen des übrigen
                      Hauses abgelehnt.\n(Beifall bei Abgeordneten der SPD, der CDU/ \nCSU, des BÜNDNISSES
                      90/DIE GRÜNEN \nund der FDP)\nDamit verbleibt es dabei, dass nach § 1 Absatz 2 der
                      \nGeschäftsordnung das am längsten dem Bundestag ange-\nhörende Mitglied den Vorsitz
                      übernimmt. Michael \nGrosse-Brömer hat eben schon eindrucksvoll dargelegt, \ndass
                      offensichtlich ich das bin.\n(Heiterkeit bei der CDU/CSU sowie bei \nAbgeordneten
                      der SPD)\nIch freue mich, den Vorsitz zu übernehmen, und füge \ngleich für eventuell
                      noch kommende Geschäftsordnungs-\ndebatten hinzu, dass ich ab jetzt wieder darauf
                      achte, dass \nbei Reden zur Geschäftsordnung wirklich nur zur \nGeschäftsordnung
                      gesprochen wird.\n(Beifall bei Abgeordneten der CDU/CSU)\nAlterspräsident Dr. Wolfgang
                      Schäuble\nJetzt rufe ich auf den Tagesordnungspunkt 1:\nEröffnung der Sitzung durch
                      den Alterspräsiden-\nten\nDrucksache 20/2\nIch eröffne als Alterspräsident die erste
                      Sitzung der \n20. Wahlperiode. Ich begrüße unseren Bundespräsiden-\nten, Herrn Dr.
                      Frank-Walter Steinmeier. Herr Bundesprä-\nsident, wir freuen uns, dass Sie heute
                      da sind.\n(Beifall)\nDann begrüße ich die Bundeskanzlerin, Frau \nDr. Angela Merkel,
                      die heute auf ungewohntem Platz \nsitzt.\n(Beifall)\nIch heiße die ehemalige Präsidentin
                      des Deutschen \nBundestages, Frau Dr. Rita Süssmuth, herzlich willkom-\nmen,\n(Beifall)\nebenso
                      die ehemalige Präsidentin der ersten frei gewähl-\nten Volkskammer der DDR, Frau
                      Dr. Sabine Bergmann- \nPohl.\n(Beifall)\nStellvertretend für das Diplomatische Korps
                      begrüße \nich seine Exzellenz den Apostolischen Nuntius und alle \nweiteren Ehrengäste,
                      die auf der Tribüne an dieser Sit-\nzung teilnehmen.\n(Beifall)\nLiebe Kolleginnen
                      und Kollegen, die anhaltende pan-\ndemische Lage erzwingt auch, dass diese Sitzung
                      in Voll-\npräsenz nur unter Geltung zusätzlicher Infektionsschutz-\nmaßnahmen stattfinden
                      kann. Die Fraktionen hatten sich \nursprünglich darauf verständigt, dass für diese
                      Sitzung \nein 3-G-Konzept gilt. Das bedeutet, dass Zutritt zum \nPlenarsaal in der
                      unteren Ebene ausschließlich diejenigen \nPersonen haben, die vollständig gegen
                      das SARS-CoV-2- \nVirus geimpft sind, von einer Coronaerkrankung genesen \noder
                      aktuell negativ getestet sind.\nDer Geimpft-, Genesenen- oder Getestetenstatus ist
                      \nnach Maßgabe meiner Anordnung zur Anwendung der \n3-G-Regel bei der Durchführung
                      der konstituierenden \nSitzung vom 14. Oktober 2021 als Zutrittsberechtigung \nzur
                      unteren Ebene des Plenarsaals und zur West- und zur \nAbgeordnetenlobby nachzuweisen.
                      Für die heutige Sit-\nzung gelten als Nachweis für Ihren Status auch die Hand-\ngelenkbänder,
                      die Sie zuvor erhalten haben.\nDiejenigen Abgeordneten, die einen solchen Nachweis
                      \nnicht erbringen oder trotz Nachweis mit Abstand sitzen \nmöchten, haben die Möglichkeit,
                      unter Wahrung des \nAbstandsgebots auf den Tribünen an der Sitzung teil-\nzunehmen.
                      Mikrofone sind dort vorhanden. Auch die \nspäter folgenden Wahlen finden für diese
                      Abgeordneten \nauf der Tribüne statt.\nBitte beachten Sie, dass weiterhin die Pflicht
                      zum Tra-\ngen einer medizinischen Mund-Nasen-Bedeckung gilt. \nSie kann am Sitzplatz,
                      am Rednerpult und an den Saal-\nmikrofonen abgelegt werden. Sofern Sie hier im Plenum
                      \neinschließlich der West- und der Abgeordnetenlobby \ngegen diese Zutrittsregel,
                      die Nachweispflicht, die Pflicht \nzum Tragen einer medizinischen Mund-Nasen-Be-\ndeckung
                      sowie das für die Abgeordneten auf den Tribü-\nnenplätzen geltende Abstandsgebot
                      verstoßen, kann dies \nmit den Mitteln des parlamentarischen Ordnungsrechts \ngeahndet
                      werden.\nDie Fraktion der AfD widerspricht nunmehr der \nAnwendung des 3-G-Konzepts.\n(Claudia
                      Roth [Augsburg] [BÜNDNIS 90/DIE \nGRÜNEN]: Meine Güte!)\nDarüber stimmen wir jetzt
                      ab. Wer stimmt für die Anwen-\ndung des von mir eben beschriebenen 3-G-Konzepts?
                      – \nWer stimmt dagegen? – Wer enthält sich? – Dann ist \ndieses Konzept als Teil
                      unserer parlamentarischen Ord-\nnung gegen die Stimmen der AfD mit den Stimmen des
                      \nübrigen Hauses so beschlossen.\nNach Absprache mit den Fraktionen benenne ich
                      als \nvorläufige Schriftführerinnen und Schriftführer die \nDamen und Herren Abgeordneten
                      Gökay Akbulut, \nNorbert Altenkamp, Artur Auernhammer, Silvia Breher, \nLeni Breymaier,
                      Sandra Bubendorfer-Licht, Astrid \nDamerow, Dr. Karamba Diaby, Esther Dilcher, Michael
                      \nDonth, Thomas Erndl, Kay Gottschalk, Erhard Grundl, \nMariana Harder-Kühnel, Peter
                      Heidt, Marc \nHenrichmann, Thomas Hitschler, Dr. Bettina Hoffmann, \nMichael Kießling,
                      Norbert Kleinwächter, Jens Koeppen, \nChristian Kühn (Tübingen), Markus Kurth, Ulrich
                      \nLechte, Paul Lehrieder, Isabel Mackensen-Geis, \nDorothee Martin, Claudia Moll,
                      Petra Nicolaisen, Jan \nNolte, Josef Oster, Tabea Rößner, Felix Schreiner, \nMichael
                      Schrodi, Katrin Staffler, Mathias Stein, \nDeutscher Bundestag – 20. Wahlperiode
                      – 1. Sitzung. Berlin, Dienstag, den 26. Oktober 2021                                4
                      \n(A) \n(B) \n(C) \n(D) \nBenjamin Strasser, Jessica Tatti, Dr. Hermann-Josef \nTebroke,
                      Kerstin Vieregge, Marja-Liisa Völlers, \nWolfgang Wiehle, Gülistan Yüksel.\nIch
                      bitte die Abgeordneten Gülistan Yüksel und Jens \nKoeppen, neben mir Platz zu nehmen.\n(Zurufe
                      von der AfD: Maske! 3-G-Regel!)\nDenken Sie an die Maske.\nLiebe Kolleginnen und
                      Kollegen! Dass wir im Reichs-\ntagsgebäude tagen, ist ja eigentlich keiner Erwähnung
                      \nwert. Und dennoch ist es heute eine Besonderheit. Wir \nkommen trotz der pandemischen
                      Beschränkungen erst-\nmals wieder alle gemeinsam im Plenum zusammen. Das \nmacht
                      eine überfraktionelle Verständigung möglich, die \nwir eben mit großer Mehrheit
                      bestätigt haben.\n(Beifall bei Abgeordneten der CDU/CSU, des \nBÜNDNISSES 90/DIE
                      GRÜNEN und der \nFDP)\nIn der vergangenen Legislaturperiode hat dieses Haus \nsogar,
                      wenn nötig, einen überfraktionellen Konsens her-\nstellen können, um die Handlungsfähigkeit
                      des Par-\nlaments zu sichern. Die Bürgerinnen und Bürger schauen \nauf uns. Ihre
                      Erwartungen an das Parlament sind zu Recht \ngroß. Wir sollten weiter alles tun,
                      um dem gemeinsam \ngerecht zu werden.\nDie heutige Abstimmung sollte nicht die letzte
                      gewe-\nsen sein, in der wir mit überwältigender Mehrheit über \ndie Fraktionsgrenzen
                      hinweg entscheiden. Wenn uns das \netwa beim Wahlrecht gelänge, wäre ich nach der
                      auch für \nmich persönlich bitteren Erfahrung der vergangenen \nLegislaturperiode
                      bestimmt nicht traurig.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE
                      GRÜNEN und der FDP \nsowie bei Abgeordneten der AfD und der \nLINKEN)\nEine Wahlrechtsreform,
                      die diesen Namen verdient, ist \nallerdings keinen Deut leichter geworden. Und trotzdem
                      \nduldet sie ersichtlich keinen Aufschub. Mehr möchte ich \ndazu nicht sagen, außer
                      dass jedenfalls nach meinem Ver-\nständnis bei einer Entscheidung dieser Tragweite
                      eigent-\nlich keine politische Kraft im Parlament aus der Mitver-\nantwortung für
                      eine tragfähige Lösung entlassen werden \nsollte.\nKonsens, liebe Kolleginnen und
                      Kollegen, wird in die-\nsem Haus auch zukünftig nicht die Regel sein, und das \nsollte
                      es auch nicht. Hier ist der Ort, an dem wir streiten \ndürfen, an dem wir streiten
                      sollen, aber fair und nach \nRegeln, leidenschaftlich, aber auch mit der Gelassenheit,
                      \ndie einer erregten Öffentlichkeit Beispiel geben kann. \nWenn wir das Prinzip
                      der Repräsentation stärken wollen, \ndann müssen wir uns immer wieder um die Faszination
                      \nder großen, strittigen Debatte bemühen. Das Parlament ist \nimmer auch eine politische
                      Bühne und nicht bloß eine \nnotarielle Veranstaltung, um Koalitionsverträge abzuar-\nbeiten,
                      zumal sich die Entwicklungen einer vernetzten \nWelt mit ihren wechselnden Herausforderungen
                      nicht \nan Koalitionsverträge halten, wie wir erfahren haben.\nUmso mehr kommt es
                      auf das Parlament an – als der \nRaum, in dem die Vielfalt an Meinungen offen zur
                      Spra-\nche kommt. Das wird noch wichtiger, weil in unserer \nGesellschaft die Bereitschaft
                      sinkt, gegensätzliche Stand-\npunkte auszuhalten, Widerspruch überhaupt zuzulassen,
                      \nweil der Drang nach Konformität in der Gruppe wächst, \num von sich fernzuhalten,
                      was dem eigenen Empfinden \nund Denken widerspricht.\nWir sollten den Streit in
                      der Mitte der Gesellschaft \nsuchen und ihn öffentlich hier im Parlament austragen,
                      \nindem wir deutlich machen, dass nie eine Seite allein \nrecht hat, dass um der
                      Sache willen miteinander gerungen \nwerden muss. Politik ist ja kein Selbstzweck.
                      Wir dienen \nnicht dem Eigeninteresse einer gesellschaftlichen Gruppe \noder einer
                      Meinungsblase, sondern wir dienen der \nGemeinschaft. Am Ende unserer Debatten stehen
                      Ent-\nscheidungen, für die wir die Verantwortung tragen, durch \nMehrheiten, die
                      wechseln können. Das erleben wir gera-\nde.\nOhne Kompromisse geht das nicht, erst
                      recht nicht bei \nMehrheitsverhältnissen wie nach dieser Wahl. Aber \nsuchen wir
                      auch nicht immer nur den kleinsten gemein-\nsamen Nenner, indem wir im Detail streiten.
                      Trauen wir \nuns etwas zu, ob in Regierungsverantwortung oder als \nOpposition;
                      sonst geht verloren, was die Demokratie \neben auch dringend braucht: politische
                      Führung.\nSie verlangt von uns als Abgeordnete den Blick für die \nwirklich großen
                      Aufgaben und die Fähigkeit, das gesell-\nschaftliche Interesse auf diese großen
                      Aufgaben zu \nlenken, Orientierung zu geben. Dazu müssen wir bereit \nsein, den
                      Menschen auch etwas zuzumuten. Nicht nur \nAntworten geben, die gern gehört werden,
                      sondern \nLösungen entwickeln und zur Diskussion stellen für die \nAufgaben, die
                      wir als drängend erachten, und davon die \nBürger überzeugen: Dazu verpflichtet
                      uns unser Mandat.\nDas mitunter zähe Ringen um gesellschaftliche Mehr-\nheiten sollten
                      wir gerade auch denjenigen nahebringen, \ndie mit Blick auf den Klimawandel von
                      der Trägheit \ndemokratischer Prozesse enttäuscht sind und sofortiges \nHandeln
                      fordern. Ihre Motive sind nachvollziehbar, aber \nwissenschaftliche Erkenntnis allein
                      ist noch keine Politik \nund schon gar nicht demokratische Mehrheit. Wer Ziele \nund
                      Mittel absolut setzt, bringt sie gegen das demokrati-\nsche Prinzip in Stellung.
                      Übrigens kann die Wissenschaft \ngenauso wenig letzte Gewissheit liefern, und in
                      der \nDemokratie gibt es sowieso nicht die eine richtige Ent-\nscheidung. Genau
                      damit müssen wir umgehen.\n(Beifall bei der CDU/CSU, der FDP und der \nAfD sowie
                      bei Abgeordneten der SPD und des \nBÜNDNISSES 90/DIE GRÜNEN)\nZu Beginn der Pandemie
                      haben wir ja erlebt, wie groß \nin einer Gefahrensituation das Bedürfnis nach klaren
                      \npolitischen Vorgaben ist; wir brauchten wissenschaftli-\nchen Rat. Doch der Stand
                      der Virologie und der Medizin \nwar damals noch recht unsicher, weil es eben ein
                      neues \nPhänomen war. Die wissenschaftliche Logik, die nicht \nnur auf Konsens,
                      sondern gerade auf Ambiguität, Zweifel \nund Widerspruch beruht, geriet in ein Spannungsverhält-\nnis
                      zu den drängenden politischen Notwendigkeiten. Par-\nlament und Regierung mussten
                      handeln. Und wir mussten \nDeutscher Bundestag – 20. Wahlperiode – 1. Sitzung. Berlin,
                      Dienstag, den 26. Oktober 2021                                                                                                                                                                                                      5\nAlterspräsident
                      Dr. Wolfgang Schäuble \n(A) \n(B) \n(C) \n(D) \ntrotz des unsicheren Erkenntnisstands
                      und im Wissen um \ndie Vorläufigkeit wissenschaftlicher Forschung rasch \nEntscheidungen
                      treffen und dabei verschiedene Diszipli-\nnen hören: die Soziologie, die Ökonomie,
                      Psychologie \nund Pädagogik, auch den Ethikrat. Denn natürlich galt \nes, die ethisch-moralische
                      Dimension genauso wie die \nverfassungsrechtlichen Aspekte unserer Maßnahmen \nmit
                      zu bedenken. Wir haben auch die unterschiedlichen \nArgumente von Interessengruppen
                      einbezogen.\nIn dieser Situation wurde ja wieder besonders deutlich: \nPolitik ist
                      immer ein schwieriger Abwägungsprozess, ein \nAustarieren widerstreitender Interessen.
                      Dabei darf sie \nden Blick auf das große Ganze nie verlieren. Das ist \nPolitik:
                      das Ringen um Mehrheiten, die Suche nach \nLösungen, nach bestem Wissen und Gewissen
                      Entschei-\ndungen treffen und sie dann auch verantworten. Es \nberührt unser Selbstverständnis
                      als Demokraten. Aber \nwir müssen stets neu beweisen, die großen Herausforde-\nrungen
                      unserer Zeit im Rahmen von Rechtsstaatlichkeit, \nFreiheit und Demokratie bewältigen
                      zu können.\nIn der Coronapandemie ist es im Großen und Ganzen \ngelungen, auch unter
                      enormem Entscheidungsdruck kon-\ntroverse Debatten zu führen und widerstrebende
                      Werte \nund Interessen gegeneinander abzuwägen, auch wenn \nsich im Einzelnen Kritik
                      immer üben lässt. Die parlamen-\ntarische Demokratie hat eine beispiellose Bewährungs-\nprobe
                      bestanden, und diese Erfahrung kann uns Mut \nmachen für andere globale Herausforderungen.\n(Beifall
                      bei Abgeordneten der SPD)\nDie parlamentarische Demokratie wird im Wettbewerb \nmit
                      autoritären Systemen bestehen, wenn wir als Gesetz-\ngeber die Weichen so stellen,
                      dass unsere Regierungs-\nform neben ihrer Wertegebundenheit auch durch Effi-\nzienz
                      überzeugt. Aber hüten wir uns gleichzeitig vor der \nVersuchung, alles regeln zu
                      wollen. Politik weiß nicht \nalles besser. Wenn Politik meint, sie habe keine Grenzen,
                      \nist das mindestens genauso gefährlich, wie wenn andere \nglauben, sie seien keinen
                      Begrenzungen unterworfen.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE
                      GRÜNEN und der FDP \nsowie bei Abgeordneten der AfD)\nDas Prinzip unserer freiheitlichen
                      Ordnung ist, dass sie \nbegrenzt ist.\nDer Souverän hat mit seiner Wahlentscheidung
                      vom \n26. September die parteipolitische Vielfalt im Bundestag \nbestätigt und neue
                      Mehrheiten ermöglicht. Für 279 Abge-\nordnete beginnt heute ein neues Leben als
                      Parlamentarier. \nBehaupte noch einer, die parlamentarische Demokratie \nkönne sich
                      nicht personell erneuern: Fast 40 Prozent aller \nMitglieder unseres Hauses bringen
                      ihre Lebenswege, \nandere berufliche Hintergründe, persönliche Erfahrungen \nund
                      Meinungen erstmals hier ein.\nGestatten Sie mir gerade an Sie, unsere neuen Kolle-\nginnen
                      und Kollegen, gewandt eine persönliche Bemer-\nkung: Mit diesem Mandat, das Ihnen
                      auf Zeit verliehen \nist – bei dem man im Übrigen nie genau wissen kann, wie \nlange
                      diese Zeit dann wirklich dauert –, kommt eine \naußergewöhnliche und erfüllende
                      Arbeit auf Sie zu und \nzugleich eine strapaziöse und vereinnahmende Zeit. Bei \nallem
                      politischen Elan: Die Arbeit auf offener Bühne ver-\nlangt, das Private zu schützen.
                      Seine Integrität wahrt, wer \nweiterhin zuhören kann und seinen inneren Kompass
                      \nnicht verliert, wer sich in Kollegialität und Fairness übt, \nwer sich über die
                      Verhaltensregeln, die wir uns geben, \nhinaus den Sinn dafür bewahrt, was anständig
                      ist und – \nwomöglich noch stärker – was unanständig ist. Früher \nhätte man gesagt:
                      Was sich gehört und was nicht.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS
                      90/DIE GRÜNEN und der FDP \nsowie bei Abgeordneten der AfD und der \nLINKEN)\nWir
                      alle repräsentieren als Abgeordnete das Volk. Wir \nvertreten die legitimen Interessen
                      unserer Wähler und \nParteien. Aber: Wir haben immer auch das Gemeinwohl \nim Blick
                      zu behalten. Verwechseln wir Repräsentation \nnicht mit Repräsentativität. Jeder
                      Einzelne von uns bildet \nnicht einfach einen Teil des Volkes ab. Artikel 38 GG
                      ist \neindeutig: Abgeordnete – jeder Abgeordnete! – sind \n„Vertreter des ganzen
                      Volkes“. Auch wenn sich natürlich \ndie gewachsene Vielfalt unserer Gesellschaft
                      in der \nVolksvertretung wiederfinden soll: Der Bundestag wird \nnie ein exaktes
                      Spiegelbild der Bevölkerung sein. Wer \nRepräsentation mit Repräsentativität gleichsetzt,
                      wird \neine Fülle eklatanter Abweichungen finden: in berufli-\ncher, in regionaler,
                      in kultureller oder religiöser Hinsicht. \nUnd er leistet dem irrigen Verständnis
                      Vorschub, dass \ngesellschaftliche Gruppen nur durch ihre eigenen Ange-\nhörigen
                      vertreten werden könnten.\n(Beifall bei der AfD sowie bei Abgeordneten \nder CDU/CSU
                      und der FDP)\nAber bei wem wollen wir dann anfangen? Und wo endet \ndas? Ein Parlament,
                      das zwar die Vielfalt abbildet, aber \ndarüber keine Mehrheiten schaffen kann, ist
                      eben kein \nParlament!\nUnsere repräsentative Demokratie beruht auf der poli-\ntischen
                      Gleichheit aller Bürgerinnen und Bürger – ohne \nRücksicht auf ihre soziokulturellen
                      Merkmale. Als Par-\nlamentarier muss sich eine Juristin aus der Finanzverwal-\ntung
                      mit Fragen der Landwirtschaft vertraut machen und \nder Handwerksmeister Entscheidungen
                      über eine Pflege-\nreform treffen. Darin besteht das Mandat von Abgeord-\nneten.
                      Als gewählte Repräsentanten vertreten wir die \nRepräsentierten nicht durch unsere
                      Person, sondern durch \nunsere Politik. Durch sie sollten alle Menschen politisch
                      \nGehör finden. Der Bundestag bündelt Interessen, und er \nträgt damit Verantwortung
                      für den Zusammenhalt in \nunserem Land. Deshalb sollten wir uns immer wieder \nselbst
                      hinterfragen, ob wir, ob unsere Parteien der Vielfalt \nan Interessen und Meinungen
                      genügend Gehör verschaf-\nfen und auch ob die Erwartung der Bevölkerung, an \nGestaltungsprozessen
                      selbst teilhaben zu können, ausrei-\nchend erfüllt wird.\nIn der vergangenen Legislaturperiode
                      hat sich das Par-\nlament mit einem Bürgerrat für eine Form der delibera-\ntiven
                      Demokratie geöffnet. Ich denke, dieser Bundestag \nwäre gut beraten, sich noch einmal
                      intensiv mit den Vor-\nteilen, aber auch den Grenzen dieser Art von Bürgerbe-\nteiligung
                      zu befassen, zumal Bürgerräte einen Raum \nschaffen, in dem unterschiedliche Menschen
                      zusammen-\nkommen, einander kennenlernen und sich austauschen \nDeutscher Bundestag
                      – 20. Wahlperiode – 1. Sitzung. Berlin, Dienstag, den 26. Oktober 2021                                6
                      \nAlterspräsident Dr. Wolfgang Schäuble \n(A) \n(B) \n(C) \n(D) \nmüssen. Miteinander.
                      Vereinzelungsorte haben wir ja \nschließlich mehr als genug. Mehr Mitsprache heißt
                      nicht \nautomatisch mehr Partizipation und auch nicht zwangs-\nläufig mehr Akzeptanz
                      für die am Ende im Parlament \ngetroffenen Entscheidungen. Dabei leistet die repräsenta-\ntive
                      Demokratie, was auf keinem anderen Weg vergleich-\nbar gelingt: nicht nur die Vertretung
                      mobilisierbarer Inte-\nressen, sondern auch der Ausgleich widerstreitender \nInteressen,
                      nicht nur fordern, sondern auch gestalten, \nnicht nur entscheiden, sondern auch
                      verantworten. Davon \nwerden wir die Bürger jedoch nur überzeugen, wenn wir \nunsere
                      Rolle aktiv wahrnehmen. Es braucht ein selbst-\nbewusstes Parlament, und es braucht
                      selbstbewusste Par-\nlamentarier.\nDas fordert viel von uns. Da ist der Wille des
                      Wählers, \naber auch die Eigenständigkeit des Gewählten und die \nAbhängigkeit des
                      einen vom anderen. Da ist der Drang, \nsich profilieren zu wollen, und gleichzeitig
                      die Notwen-\ndigkeit, als Fraktion Geschlossenheit zu zeigen. Da ist \ndas Selbstverständnis
                      der Fraktion auf Eigenständigkeit \nund in Regierungsverantwortung der Druck, stabile
                      par-\nlamentarische Mehrheiten zu sichern. Diesem Span-\nnungsfeld können wir nicht
                      ausweichen. Aber wir sollten \nuns dessen bewusst sein und uns um die richtige Balance
                      \nbemühen. Denn wir tragen Verantwortung dafür, das Par-\nlament gegenüber wachsenden
                      plebiszitären Ansprüchen \nzu stärken. Und im Übrigen liegt es an uns, wie weit
                      wir \nunsere Gestaltungsspielräume als Gesetzgeber einengen \nlassen durch eine
                      Rechtsprechung, die bisweilen mindes-\ntens an die Grenzen ihres Mandats geht.\n(Beifall
                      bei der CDU/CSU, dem BÜNDNIS 90/ \nDIE GRÜNEN, der FDP und der AfD sowie des \nAbg.
                      Carsten Schneider [Erfurt] [SPD])\nDazu gehört für mich dann allerdings auch, Verantwor-\ntung,
                      die politisch wahrzunehmen ist, nicht auf Gerichte \nabzuwälzen.\n(Beifall bei der
                      CDU/CSU, der FDP und dem \nBÜNDNIS 90/DIE GRÜNEN sowie bei \nAbgeordneten der SPD
                      und der AfD)\nBei unseren Entscheidungen sind wir heute im Übrigen \nstärker denn
                      je in globale Zusammenhänge eingebunden. \nDie komplexen Herausforderungen lassen
                      sich nicht \nmehr allein im Nationalstaat bewältigen. Deshalb werden \nwir in einer
                      Welt des rasanten Wandels den Bürgerinnen \nund Bürgern auch nur dann Halt geben
                      können, wenn wir \nEuropa stärken und zusammenhalten. Dazu braucht es \nunsere Bereitschaft,
                      die anderen besser verstehen zu wol-\nlen, die Interessen, Erfahrungen, die historischen
                      und \nkulturellen Prägungen der anderen zu kennen und zu res-\npektieren. Ich habe
                      in den Jahren, in denen ich diesem \nHaus und verschiedenen Regierungen angehören
                      durfte, \ndie Erfahrung gemacht: Parlamente können hier ergän-\nzend zur Regierung
                      manches bewirken. Als Abgeordnete \nsind wir es ja gewohnt, unterschiedliche Sichtweisen,
                      \nwiderstreitende, aber legitime Interessen auszuhandeln.\nWir haben vor drei Jahren
                      mit der Deutsch-Französi-\nschen Parlamentarischen Versammlung eine weltweit \neinzigartige
                      binationale Kammer geschaffen, die in der \nPandemie eindrucksvoll bewiesen hat,
                      wozu sie in der \nLage ist. Wir können stolz darauf sein, und wir sollten \ndarauf
                      aufbauen.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE GRÜNEN und der
                      FDP \nsowie des Abg. Matthias W. Birkwald [DIE \nLINKE])\nVergessen wir darüber
                      aber bitte auch nicht die besondere \nMittlerrolle, die Deutschland für unsere mittelost-
                      und \nosteuropäischen Nachbarn zukommt – auch und gerade \ndiesem Parlament. Leisten
                      wir unseren Beitrag dazu, dass \nsich die Spaltungen in Europa nicht weiter vertiefen.\n(Beifall
                      bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE GRÜNEN und der FDP \nsowie bei Abgeordneten
                      der LINKEN)\nNoch ein persönliches Wort zum Schluss. Ich habe in \nden vergangenen
                      vier Jahren in diesem Haus ein frakti-\nonsübergreifendes hohes Maß an Unterstützung
                      und Res-\npekt im Amt des Bundestagspräsidenten erfahren – dafür \nbin ich dankbar
                      –, und ich erhoffe und erbitte es auch für \nmeine Nachfolgerin, die wir heute in
                      dieses Amt wählen.\n(Beifall bei der SPD, der CDU/CSU, dem \nBÜNDNIS 90/DIE GRÜNEN,
[...]
